# Ignore the Drivers folder
Drivers/

# Ignore the Debug folder
Debug/

# Ignore .mxproject files
*.mxproject

# Ignore .project files
*.project

# Ignore mp3_player Debug.lauch files
*mp3_player Debug.lauch
